      .stripe {
         position: relative;
         display: flex;
         width: 100%;
         height: 100%;
		  overflow:hidden;
         }
         .stripe::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: calc(100% + var(--stripe-size));
         height: 100%;
         background: repeating-linear-gradient(45deg, #2d258900 var(--pos), #f2dbb108 30%, #cc444473 50%, #0000006e 75%);
         background-size: var(--stripe-size) var(--stripe-size);
         -webkit-animation: stripeTransform var(--duration) linear infinite;
         animation: stripeTransform var(--duration) linear infinite;
         z-index: -1;
			   background: url('party-background-vector.jpg');
  opacity: 0.1;
}
         }
         .stripe::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         background: radial-gradient(ellipse at center, rgba(27, 39, 53, 0) 0%, #090a0f 100%);
         z-index: -1;
         }
         @-webkit-keyframes stripeTransform {
         0% {
         transform: translateX(0);
         }
         100% {
         transform: translateX(-1200px);
         }
         }
        
         .container{
         width: 100%;
			 overflow-y: auto;
			 height: 100%;
         }